[Desktop Entry]
Name=Brave Browser
Exec=env brave --force-device-scale-factor=2.25 %U
Icon= brave-desktop
Terminal=false
Type=Application
Categories=Internet;Network;WebBrowser;
