[Desktop Entry]
Name=Spotify
Exec=env spotify --force-device-scale-factor=2.25 %U
Icon=spotify-client
Terminal=false
Type=Application
Categories=Audio;Music;Player;
